<div data-gas-user="" user="user" role="role">
    <div class="modal-header" ng-init="count=0">
        <button type="button" class="close" data-ng-click="count=count-1;cancel();" aria-hidden="true">×</button>
        <h4 class="modal-title">Dati utente {{count}} {{message.text}} -{{usr}}-</h4>
    </div>


    <div class="modal-body" data-gas-item-load="" item-id="" item="item" resource="supplier">

        <gas-alert level="{{message.level}}" text="{{message.text}}"></gas-alert>
        <gas-alert level="{{Flash.message.level}}" text="{{Flash.message.text}}"></gas-alert>
        <gas-alert ng-repeat="error in errors" level="warning" text="{{error.field}}: {{error.message}}"></gas-alert>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Username</label>
                    <p class="form-control" name="name" id="name">{{user.username}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <p class="form-control" name="name" id="email">{{user.email}}</p>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="!activateSupplier && !roles.includes('ROLE_SUPPLIER')">
            <a role="button"  class="btn btn-lg btn-primary btn-block" ng-click="supplier()">
                Attiva il profilo 'Venditore'
            </a>
            <p>L'attivazione come venditore consente di creare una propria vetrina e di gestirre gli ordini online</p>
        </div>
        <div ng-show="activateSupplier || roles.includes('ROLE_SUPPLIER')">
            <div class="clearfix">&nbsp;</div>
            <hr/>
            <div class="col-md-12">
            <p>La compilazione dei proprio indirizzo è obbligatoria e semplifica le ricerche basate sulla posizione</p>
            </div>
            <div class="clearfix">&nbsp;</div>

            <ng-include src="'/assets/supplier/form.html'"></ng-include>

            <div class="modal-footer">
                <a role="button" class="btn btn-default" data-ng-click="cancel();"
                   data-dismiss="modal">
                    <i class="glyphicon glyphicon-remove"></i>
                    Annulla
                </a>

                <a role="button" class="btn btn-success" data-ng-click="updateSupplier(item, user)">
                    <i class="glyphicon glyphicon-ok"></i>
                    Salva
                </a>
            </div>
        </div>
    </div>

</div>