.Cookie{
    position:fixed;
    overflow:hidden;
    box-sizing:border-box;
    z-index:9999;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    flex-direction:column
}
.Cookie>*{
    margin:.9375rem 0;
    align-self:center
}
@media screen and (min-width: 48rem){
    .Cookie{
        flex-flow:row
    }
    .Cookie>*{
        margin:0
    }
}
.Cookie--top{
    top:0;
    left:0;
    right:0
}
.Cookie--bottom{
    bottom:0;
    left:0;
    right:0
}
.Cookie__buttons{
    display:flex;
    flex-direction:column
}
.Cookie__buttons>*{
    margin:.3125rem 0
}
@media screen and (min-width: 48rem){
    .Cookie__buttons{
        flex-direction:row
    }
    .Cookie__buttons>*{
        margin:0 .9375rem
    }
}
.Cookie__button{
    cursor:pointer;
    align-self:center;
    white-space:nowrap
}
.Cookie__declineButton{
    cursor:pointer;
    align-self:center;
    white-space:nowrap
}
.Cookie--base{
    background:#F1F1F1;
    color:#232323;
    padding:1.250em
}
.Cookie--base .Cookie__button{
    background:#97D058;
    padding:0.625em 3.125em;
    color:#fff;
    border-radius:0;
    border:0;
    font-size:1em
}
.Cookie--base .Cookie__button:hover{
    background:#7ebf36
}
.Cookie--base .Cookie__button--decline{
    background:transparent;
    padding:0.625em 3.125em;
    color:#727272;
    border-radius:0;
    border:0;
    font-size:1em
}
.Cookie--base .Cookie__button--decline:hover{
    background:#cbcbcb
}
.Cookie--base--rounded{
    background:#F1F1F1;
    color:#232323;
    padding:1.250em
}
.Cookie--base--rounded .Cookie__button{
    background:#97D058;
    padding:0.625em 3.125em;
    color:#fff;
    border-radius:20px;
    border:0;
    font-size:1em
}
.Cookie--base--rounded .Cookie__button:hover{
    background:#7ebf36
}
.Cookie--base--rounded .Cookie__button--decline{
    background:transparent;
    padding:0.625em 3.125em;
    color:#727272;
    border-radius:20px;
    border:0;
    font-size:1em
}
.Cookie--base--rounded .Cookie__button--decline:hover{
    background:#cbcbcb
}
.Cookie--blood-orange{
    background:#424851;
    color:#fff;
    padding:1.250em
}
.Cookie--blood-orange .Cookie__button{
    background:#E76A68;
    padding:0.625em 3.125em;
    color:#fff;
    border-radius:0;
    border:0;
    font-size:1em
}
.Cookie--blood-orange .Cookie__button:hover{
    background:#e03f3c
}
.Cookie--blood-orange .Cookie__button--decline{
    background:transparent;
    padding:0.625em 3.125em;
    color:#000;
    border-radius:0;
    border:0;
    font-size:1em
}
.Cookie--blood-orange .Cookie__button--decline:hover{
    background:#202327
}
.Cookie--blood-orange--rounded{
    background:#424851;
    color:#fff;
    padding:1.250em
}
.Cookie--blood-orange--rounded .Cookie__button{
    background:#E76A68;
    padding:0.625em 3.125em;
    color:#fff;
    border-radius:20px;
    border:0;
    font-size:1em
}
.Cookie--blood-orange--rounded .Cookie__button:hover{
    background:#e03f3c
}
.Cookie--blood-orange--rounded .Cookie__button--decline{
    background:transparent;
    padding:0.625em 3.125em;
    color:#000;
    border-radius:20px;
    border:0;
    font-size:1em
}
.Cookie--blood-orange--rounded .Cookie__button--decline:hover{
    background:#202327
}
.Cookie--dark-lime{
    background:#424851;
    color:#fff;
    padding:1.250em
}
.Cookie--dark-lime .Cookie__button{
    background:#97D058;
    padding:0.625em 3.125em;
    color:#fff;
    border-radius:0;
    border:0;
    font-size:1em
}
.Cookie--dark-lime .Cookie__button:hover{
    background:#7ebf36
}
.Cookie--dark-lime .Cookie__button--decline{
    background:transparent;
    padding:0.625em 3.125em;
    color:#000;
    border-radius:0;
    border:0;
    font-size:1em
}
.Cookie--dark-lime .Cookie__button--decline:hover{
    background:#202327
}
.Cookie--dark-lime--rounded{
    background:#424851;
    color:#fff;
    padding:1.250em
}
.Cookie--dark-lime--rounded .Cookie__button{
    background:#97D058;
    padding:0.625em 3.125em;
    color:#fff;
    border-radius:20px;
    border:0;
    font-size:1em
}
.Cookie--dark-lime--rounded .Cookie__button:hover{
    background:#7ebf36
}
.Cookie--dark-lime--rounded .Cookie__button--decline{
    background:transparent;
    padding:0.625em 3.125em;
    color:#000;
    border-radius:20px;
    border:0;
    font-size:1em
}
.Cookie--dark-lime--rounded .Cookie__button--decline:hover{
    background:#202327
}


.Cookie--claylist{
    background:#f1eef7;
    color:#605e7e;
    padding:1.250em
}
.Cookie--claylist .Cookie__button{
    background:#97D058;
    padding:0.625em 3.125em;
    color:#fff;
    border-radius:0;
    border:0;
    font-size:1em
}
.Cookie--claylist .Cookie__button:hover{
    background:#7ebf36
}
.Cookie--claylist .Cookie__button--decline{
    background:transparent;
    padding:0.625em 3.125em;
    color:#000;
    border-radius:0;
    border:0;
    font-size:1em
}
.Cookie--claylist .Cookie__button--decline:hover{
    background:#202327
}
.Cookie--claylist--rounded{
    background:#424851;
    color:#fff;
    padding:1.250em
}
.Cookie--claylist--rounded .Cookie__button{
    background:#97D058;
    padding:0.625em 3.125em;
    color:#fff;
    border-radius:20px;
    border:0;
    font-size:1em
}
.Cookie--claylist--rounded .Cookie__button:hover{
    background:#7ebf36
}
.Cookie--claylist--rounded .Cookie__button--decline{
    background:transparent;
    padding:0.625em 3.125em;
    color:#000;
    border-radius:20px;
    border:0;
    font-size:1em
}
.Cookie--claylist--rounded .Cookie__button--decline:hover{
    background:#202327
}


.Cookie--royal{
    background:#FBC227;
    color:#232323;
    padding:1.250em
}
.Cookie--royal .Cookie__button{
    background:#726CEA;
    padding:0.625em 3.125em;
    color:#fff;
    border-radius:0;
    border:0;
    font-size:1em
}
.Cookie--royal .Cookie__button:hover{
    background:#473fe4
}
.Cookie--royal .Cookie__button--decline{
    background:transparent;
    padding:0.625em 3.125em;
    color:#221901;
    border-radius:0;
    border:0;
    font-size:1em
}
.Cookie--royal .Cookie__button--decline:hover{
    background:#d29a04
}
.Cookie--royal--rounded{
    background:#FBC227;
    color:#232323;
    padding:1.250em
}
.Cookie--royal--rounded .Cookie__button{
    background:#726CEA;
    padding:0.625em 3.125em;
    color:#fff;
    border-radius:20px;
    border:0;
    font-size:1em
}
.Cookie--royal--rounded .Cookie__button:hover{
    background:#473fe4
}
.Cookie--royal--rounded .Cookie__button--decline{
    background:transparent;
    padding:0.625em 3.125em;
    color:#221901;
    border-radius:20px;
    border:0;
    font-size:1em
}
.Cookie--royal--rounded .Cookie__button--decline:hover{
    background:#d29a04
}
.slideFromTop-enter,.slideFromTop-leave-to{
    transform:translate(0px, -12.5em)
}
.slideFromTop-enter-to,.slideFromTop-leave{
    transform:translate(0px, 0px)
}
.slideFromBottom-enter,.slideFromBottom-leave-to{
    transform:translate(0px, 12.5em)
}
.slideFromBottom-enter-to,.slideFromBottom-leave{
    transform:translate(0px, 0px)
}
.slideFromBottom-enter-active,.slideFromBottom-leave-active,.slideFromTop-enter-active,.slideFromTop-leave-active{
    transition:transform .4s ease-in
}
.fade-enter-active,.fade-leave-active{
    transition:opacity .5s
}
.fade-enter,.fade-leave-to{
    opacity:0
}